<div><i class="far fa-envelope" id="envelope"></i><h1 class="contact">Contact Us</h1></div>

  <%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
  <div class="row">
    <div class="col-sm-7 offset-sm-1"
     <div class="form-group">
      <%= image_tag("welcome.jpg", class: "img-responsive my-image") %><br>
     </div>
    
    <div class="col-sm-3" id="contact">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
      </div>
      <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
      </div>
      <div class="form-group">
        <%= form.label :message %>
        <%= form.text_area :message, class: "form-control", placeholder: "Enter Message", rows: 5 %>
      </div>
      <%= form.submit "Send", class: "btn btn-light" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-1" id="contact-info">
      <p><strong>Address: Prenzlauer Allee 45, 10405 Berlin<strong></p>
      <p>Telephone: 030-25794556</p>
      <p>We are open Mo - Fr at 9-18, Sa at 9-14.</p>
    </div>
  </div>
