<h2 class="forgot">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="row">
      <div class="col-sm-4 offset-sm-4" id="forget">
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter Email" %>
        </div>

        <div class="actions">
          <div class="form-group">
          <%= f.label :reset_your_password %>
          <%= f.submit "Send", class: "btn btn-warning form-control" %>
         </div>
        <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  <% end %>
