
<div class="col-xs-12 col-sm-4 card-wrapper">
  <% cache product do %>
  <div class="card">
    <%= image_tag(product.image_url, class:"img-fluid responsive") unless product.image_url.nil? %>
    <div class="card-header">
      <h3><%= link_to product.name, product_path(product) %></h3>
    </div>
    <div class="card-body">
      <p class="text"><%= product.description %></p>
      <p class="text"><%= product.colour %></p>
      <P class="text"><%= product.price %> €</p>
    </div>
    <% end %>
  </div>
</div>
