
<div class="col-xs-12 col-sm-4" id="products-info">
<% cache product do %>
  <%= image_tag(product.image_url, class:"img-fluid responsive") unless product.image_url.nil? %>
  <h3><%= link_to product.name, product_path(product) %></h3>
    <p class="text"><%= product.description %></p>
    <p class="text"><%= product.colour %></p>
    <P class="text"><%= product.price %> €</p>
   <% end %>
</div>
