<% cache @product do %>
  <h3 class="show-name">
      <strong></strong>
      <%= @product.name %>
  </h3>
<% end %>
  <div class="row" data-product-id="<%= @product.id %>" id="show-row">
    <div class="col-sm-4 offset-sm-3">
      <%= image_tag(@product.image_url, class: "img-fluid img-zoom", data_zoom_image: "@product.product_image.url") unless @product.image_url.nil? %><br><br>
      <div class="show-buttons">
      <%= link_to "Back", :back, class: "btn btn-light" %>
      <%= link_to "Previous", @product.next, class: "btn btn-light" %>
      <%= link_to "Next", @product.previous, class: "btn btn-light" %>
      </div>
    </div>

    <div class="col-sm-2 properties">
      <p class="color">
        <strong>Colour:</strong>
        <%= @product.colour %>
      </p>

      <p class="price">
        <strong>Price: € </strong>
        <%= @product.price %>
      </p>

      <p class="avg-rating">Average Rating: <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div>
      </p>

      <%= form_with(url: '/payments/create') do |form| %>
        <%= render partial: "shared/stripe_checkout_button" %>
          <%= hidden_field_tag(:product_id, @product.id) %>
      <% end %>
    </div>
  </div>
  
<%= render 'new_comment' %>
<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
<%= render 'comments' %>
<div class="row">
  <div class="col-sm-4 offset-sm-3">
    <%= will_paginate @comments %>
  </div>
</div>
</div>

  