<div class="row">
  <div class="col-sm-4">
  <h3 class="show-name">
    <strong></strong>
    <%= @product.name %>
  </h3>
<%= image_tag(@product.image_url, class: "img-fluid") unless @product.image_url.nil? %>
 </div>

 <div class="col-sm-2">
  <i class="fas fa-bicycle"></i>
  <p class="color">
    <strong>Colour:</strong>
    <%= @product.colour %>
  </p>

  <p class="price">
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div>
  </p>
</div>

 <div class="col-sm-6">
   <h2 class="gift">Free bike service within the first 4 months after purchase.</h2>
 </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <%= @product.highest_rating_comment.body %><br>
    <%= @product.lowest_rating_comment.body %>
  </div>
</div>
<%= render 'new_comment' %>
<%= render 'comments' %>
