<p id="notice"><%= notice %></p>

<h3>
  <strong></strong>
  <%= @product.name %>
</h3>


<%= image_tag(@product.image_url, class: "img-fluid") unless product.image_url.nil? %>
<% end %>

<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= @product.highest_rating_comment %>
<%= @product.lowest_rating_comment %>
